<form [formGroup]="genericForm" class="form-container">
    <ng-container *ngFor="let obj of formObjects">
        <ng-container [ngSwitch]="obj.objectType" #decider>

            <!--SWITCH CASES-->
            <ng-container *ngSwitchCase="'input'">
                <ng-container
                *ngTemplateOutlet="input;context:{inputData:obj}">
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
                <ng-container
                *ngTemplateOutlet="select;context:{selectData:obj}">
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
                <ng-container
                *ngTemplateOutlet="checkbox;context:{checkboxData:obj}">
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'group'">
                <ng-container
                *ngTemplateOutlet="group;context:{groupData:obj}">
                </ng-container>
            </ng-container>

            <!--TEMPLATES-->
            <ng-template #input let-inputData="inputData"> 
                <mat-form-field 
                [ngClass]="inputData.defaultClass" 
                appearance="fill">
                    <mat-label *ngIf="inputData.displayName">
                        {{inputData.displayName}}
                    </mat-label>
                    <input 
                    matInput 
                    [formControlName]="inputData.controlName"
                    >
                    <ng-container *ngIf="inputData.validators">
                        <!-- todo: implement form msgs-->
                    </ng-container>
                </mat-form-field>
            </ng-template>

            <ng-template #select let-selectData="selectData">
                <mat-form-field [ngClass]="selectData.defaultClass" appearance="fill">
                    <mat-select 
                    [formControlName]="selectData.controlName">
                        <mat-option 
                        *ngFor="let option of selectData.objectValues"
                        [value]="option">
                        {{option}}
                    </mat-option>
                    </mat-select>
                    <mat-label *ngIf="selectData.displayName">{{selectData.displayName}}</mat-label>

                    <ng-container *ngIf="selectData.validators">
                        <!-- todo: implement form msgs-->
                    </ng-container>
                </mat-form-field>
            </ng-template>

            <ng-template #checkbox let-checkboxData="checkboxData">
                <mat-checkbox 
                [formControlName]="checkboxData.controlName"
                [ngClass]="checkboxData.defaultClass"
                [checked]="boolConvert(checkboxData.defaultValue)"
                >
                {{checkboxData.displayName}}
                </mat-checkbox>
                 <!--  -->
                 
                <ng-container *ngIf="checkboxData.validators">
                    <!-- todo: implement form msgs-->
                </ng-container>                    
            </ng-template>

            <ng-template #group let-groupData="groupData">
                <div [formGroupName]="groupData.controlName">
                    <ng-container *ngFor="let child of groupData.children">

                        <ng-container [ngSwitch]="child.objectType">
                            <ng-container *ngSwitchCase="'input'">
                                <ng-container
                                *ngTemplateOutlet="input;context:{inputData:child}">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'select'">
                                <ng-container
                                *ngTemplateOutlet="select;context:{selectData:child}">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'checkbox'">
                                <ng-container
                                *ngTemplateOutlet="checkbox;context:{checkboxData:child}">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'group'">
                                <ng-container
                                *ngTemplateOutlet="group;context:{groupData:child}">
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                </div>
            </ng-template>


        </ng-container>


    </ng-container>
    <button 
    type="submit"
    class="form-item"
    [disabled]="genericForm.invalid">bla</button>
</form>
