
<mat-form-field 
class="{{data.defaultClass}}" 
appearance="fill">
    <mat-label 
    *ngIf="data.displayName">
        {{data.displayName}}
    </mat-label>    
    <mat-select 
    [formControlName]="data.controlName">
        <mat-option 
        *ngFor="let option of data.objectValues"
        [value]="option">
            {{option}}
        </mat-option>
    </mat-select>
        

    <ng-container 
    *ngIf="data.validators">
        <!-- todo: create forms message component -->
    </ng-container>
</mat-form-field>

